.about-page {
    position: relative;
    height: 100vh;
    
  }
  .about-container{
    display: flex;
    flex-direction: column;
    
    justify-content: space-evenly;
  }
  
  .bg-image {
    background-attachment: fixed;
    position: absolute;
    margin-top: 30%;
    margin-left: 50%;
    z-index: -1;
    max-width: 100%; /* Ensures responsiveness */
    height: 100%;
    transform: translate(-50%, -50%);
    opacity: 0.17;
  }

  .about-content{
    font-family: "Josefin Sans", sans-serif;

    text-align: center;
    text-indent: 2%;
    margin: 10%;
    letter-spacing: 1px;
    position: absolute;
    color: black;
    z-index: 2;
    font-size: 120%;   
    transform: translate(0%, 200%);
  }

  .trackify-text{
    
    background: linear-gradient(to right, #0F1961, #9166A0, #FD355F);
    -webkit-background-clip: text; /* Clip the gradient to the text */
    -webkit-text-fill-color: transparent; /* Make text transparent to show gradient */
    background-clip: text;
    font-weight: 600;
    font-size: 500%;
    margin-left: -2px;
    position:absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center; 
    z-index: 1;
 
  }
  