.nav-underline {
    text-decoration: underline;
  }
  
  .nav-underline.active {
    font-weight: bold;
  }
.navbar{
  background-color: #f8f8f8;
  position: fixed;
  width: 100%;
  box-shadow: 1px 3px 3px #f0ecec;
}
  .navbar .nav-link {
    background: linear-gradient(to right, #0F1961, #9166A0, #FD355F);
    -webkit-background-clip: text; /* Clip the gradient to the text */
    
    background-clip: text;
    transition: opacity 0.3s ease;
  }
  .nav-link {-webkit-text-fill-color: transparent;}
  
  /* Hover effect to slightly emphasize text */
  .navbar .nav-link:hover {
    opacity: 0.8; /* Slight fade effect */
  }

  .navbar .nav-link.active {
    font-weight: bold;
    text-decoration: underline;
  }