
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .sign-in-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f8f8f8;
  }
  
  .welcome-section {
    text-align: center;
    margin-right: 50px;
  }
  
  .register-heading {
    font-size: 3rem; /* Adjust size as needed */
    font-weight: 500;
    background: linear-gradient(to right, #0F1961, #9166A0, #FD355F);
    -webkit-background-clip: text; /* Required for text gradient */
    -webkit-text-fill-color: transparent; /* Makes the rest transparent */
    background-clip: text; /* For some non-WebKit browsers */
    color: transparent; /* Ensures the gradient shows */
    text-align: left; /* Align the text to the left */
  }
  
  .register-section {
    background: linear-gradient(
  to bottom,                   /* Change direction from left-right to top-bottom */
  rgba(15, 25, 97, 0.15),       /* Reduced opacity for #0F1961 */
  rgba(145, 102, 160, 0.15),    /* Reduced opacity for #9166A0 */
  rgba(253, 53, 95, 0.15)       /* Reduced opacity for #FD355F */
);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
  }
  
  .register-form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .button-su-container {
    display: flex; /* Align items in a row */
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Align them vertically in the container */
    gap: 22%; /* Add space between the buttons */
    position: relative; 
    z-index: 1;
  }
  
  .sign-up-button-su {
    background-color: #614A89;
    color: #E9D4FE;
    border-radius: 6px;
    border-color: transparent;
    padding: 10px 20px; /* Shorthand for padding */
    box-shadow: 1px 4px 4px #d3d1d1;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
  }
  
  .sign-up-button-su:hover {
    background-color: #34254d;
    color: #d5b7f3;
  }
  
  .sign-up-button-su:active {
    transform: scale(0.95);
  }
  
  .sign-in-button-su {
    color: #D04A7B;
    border-radius: 6px;
    width: 200px;
    border-color: transparent;
    padding: 12px 20px;/* Shorthand for padding */
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    margin-right: -22%;
  }
  
  .sign-in-button-su:hover {
    background-color: transparent;
    color: #af2f5e;
  }
  
  .sign-in-button-su:active {
    transform: scale(0.95);
  }
  